<%- include('includes/head.ejs') %>

<body>
  <%- include('includes/navigation.ejs') %>
  <main>
    <form class="product-form" action="/users/new-user" method="POST">
        <div class="form-control">
            <label for="user">New User</label>
            <input type="text" name="user" id="user">
        </div>

        <button type="submit">Add User</button>
    </form>
</main>
</body>

</html>